<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717980399518-12ukgrd01ukdalg7gh4v7msau4gl6jvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717980399518-12ukgrd01ukdalg7gh4v7msau4gl6jvv</string>
	<key>API_KEY</key>
	<string>AIzaSyCaP60NxgZHb3xyjDodlTPVHk1eI57VNk4</string>
	<key>GCM_SENDER_ID</key>
	<string>717980399518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infiniteoptions.mylifewatch</string>
	<key>PROJECT_ID</key>
	<string>manifestmylife</string>
	<key>STORAGE_BUCKET</key>
	<string>manifestmylife.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717980399518:ios:d102a1da83a1bdb60d088f</string>
	<key>DATABASE_URL</key>
	<string>https://manifestmylife.firebaseio.com</string>
</dict>
</plist>